{
  "port": 5000,
  "mongoUrl": "mongodb+srv://<name>:<pwd>@cluster0.hs7xb.mongodb.net/app?retryWrites=true&w=majority",
  "jwtSecret": "some secret string here",
  "baseUrl": "http://localhost:5000"
}